/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-size: 13pt;
 font-family: 'Century Gothic';
}
span.rvts7
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-weight: bold;
}
span.rvts12
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 text-decoration: underline;
}
a.rvts13, span.rvts13
{
 font-size: 14pt;
 font-family: 'Century Gothic';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts15, span.rvts15 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
a.rvts16, span.rvts16
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts17, span.rvts17
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts18
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #555555;
}
span.rvts19
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 color: #555555;
}
span.rvts20
{
 font-size: 13pt;
 font-family: 'Helvetica';
 color: #333333;
 background-color: #f9f9f9;
}
span.rvts21
{
 font-size: 16pt;
 font-family: 'Century Gothic';
 font-weight: bold;
}
span.rvts22
{
 font-size: 13pt;
 font-family: 'Helvetica';
 color: #333333;
}
span.rvts23
{
 font-size: 13pt;
 font-family: 'Helvetica';
 font-weight: bold;
 color: #333333;
}
a.rvts24, span.rvts24
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 text-decoration: none;
}
span.rvts25
{
 font-size: 15pt;
 font-family: 'Century Gothic';
 color: #ff0000;
}
span.rvts26
{
 font-size: 13pt;
 font-family: 'Century Gothic';
}
span.rvts27
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-weight: bold;
}
span.rvts28
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 text-decoration: underline;
}
span.rvts29
{
 font-size: 14pt;
 font-family: 'Century Gothic';
 font-weight: bold;
}
a.rvts30, span.rvts30
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts31, span.rvts31
{
 font-size: 14pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #174a76;
 text-decoration: underline;
}
span.rvts32
{
 font-size: 16pt;
 font-family: 'Century Gothic';
 color: #00a5ff;
}
span.rvts33
{
 font-size: 16pt;
 font-family: 'Century Gothic';
}
span.rvts34
{
 font-size: 14pt;
 font-family: 'Century Gothic';
 font-weight: bold;
}
span.rvts35
{
 font-size: 16pt;
 font-family: 'Century Gothic';
 font-weight: bold;
}
span.rvts36
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 color: #000000;
}
span.rvts37
{
 font-size: 16pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #212529;
}
span.rvts38
{
 font-size: 11pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #000000;
}
span.rvts39
{
 font-size: 11pt;
 font-family: 'Century Gothic';
 color: #000000;
}
span.rvts40
{
 font-size: 14pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #212529;
}
span.rvts41
{
 font-size: 11pt;
 font-family: 'Century Gothic';
 font-style: italic;
 color: #808080;
}
span.rvts42
{
 font-size: 14pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #000000;
}
span.rvts43
{
 font-size: 11pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #000000;
}
span.rvts44
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 color: #174a76;
}
a.rvts45, span.rvts45
{
 font-size: 14pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #174a76;
 text-decoration: underline;
}
span.rvts46
{
 font-size: 12pt;
 font-family: 'Century Gothic';
 font-weight: bold;
}
a.rvts47, span.rvts47
{
 font-size: 14pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts48
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #007bbf;
}
span.rvts49
{
 font-size: 14pt;
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
}
span.rvts50
{
 font-size: 16pt;
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
}
span.rvts51
{
 font-size: 14pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 text-decoration: underline;
}
span.rvts52
{
 font-size: 13pt;
}
span.rvts53
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 text-decoration: underline;
}
span.rvts54
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 background-color: #ffff00;
}
span.rvts55
{
 font-size: 16pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #000000;
}
span.rvts56
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 color: #333333;
}
span.rvts57
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #333333;
}
a.rvts58, span.rvts58
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 color: #007bbf;
 text-decoration: underline;
}
span.rvts59
{
 font-size: 16pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #333333;
}
span.rvts60
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts61
{
 font-size: 18pt;
 font-family: 'Century Gothic';
 font-weight: bold;
}
span.rvts62
{
 font-size: 18pt;
 font-family: 'Century Gothic';
}
a.rvts63, span.rvts63
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 color: #174a76;
 text-decoration: underline;
}
span.rvts64
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-style: italic;
}
span.rvts65
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts66
{
 font-size: 19pt;
 font-family: 'MT Extra';
 color: #000000;
}
span.rvts67
{
 font-size: 23pt;
 font-family: 'MT Extra';
 color: #000000;
}
span.rvts68
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 font-weight: bold;
 color: #000000;
}
span.rvts69
{
 font-size: 13pt;
 font-family: 'Century Gothic';
 color: #000000;
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 margin: 0px 0px 0px 24px;
}
.rvps5
{
 margin: 0px 0px 0px 48px;
}
.rvps6 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps7
{
 text-align: left;
 text-indent: 0px;
 line-height: 1.50;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps8
{
}
.rvps9
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps10
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps11
{
 margin: 0px 0px 0px 80px;
}
.rvps12
{
 line-height: 1.50;
}
.rvps13
{
 background: #ffffff;
 margin: 0px 0px 3px 0px;
}
.rvps14
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 24px;
}
.rvps15
{
 line-height: 1.50;
 margin: 0px 0px 0px 48px;
}
.rvps16
{
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps17
{
 line-height: 1.50;
 margin: 0px 0px 0px 72px;
}
.rvps18
{
 margin: 0px 0px 0px 120px;
}
.rvps19
{
 margin: 0px 0px 0px 96px;
}
.rvps20
{
 margin: 0px 0px 0px 72px;
}
.rvps21
{
 margin: 0px 0px 0px 168px;
}
.rvps22
{
 background: #ffffff;
 margin: 0px 0px 12px 24px;
}
.rvps23
{
 margin: 1px 1px 1px 1px;
}
.rvps24
{
 background: #ffffff;
 padding: 0px 0px 0px 10px;
 margin: 0px 0px 5px 0px;
}
.rvps25
{
 background: #ffffff;
 padding: 0px 0px 0px 10px;
 margin: 30px 0px 30px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: decimal;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: inside; list-style-type: decimal;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
